/***HEADER***/
.logo {
    width: 4em;
}

.active {
    font-weight: 700;
    color: yellow !important;
}
.navbar{
    position:fixed !important;
    width:100%;
    z-index: 2;
    
}
/***EVENT***/


.card-img-top {
    transition: transform .2s;

}

.card-img-top:hover {
    transform: scale(1.1);
  }

/***MAP***/
#map{
    height:623px;
    z-index: 1;
}

@media screen and (min-width:992px) {
    .jumbotron {height: 623px}
}

.btn {
    color: #e6e601;
}

/***FOOTER***/
.gap_logo {
    display: flex;
    justify-content: space-evenly;
}

.fab, .footer_text {
    color: lightyellow;
    transition: .4s ease-in-out;
}

.fab:hover {
    color: yellow;
}

/***TOPBUTTON***/
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover 
{
    background-color: #555;
}