/*NAVBAR*/

.logo {
    width: 4em
}

.active {
    font-weight: 700;
    color: yellow !important;
}


/* TEXTE AU DESSUS MOSAIQUE*/

.texte1{
    margin-top: 5em;
    margin-bottom:5em; 
    float:center;
    text-align:center;
}
.card{
    margin-top: 5em;
}


/*GALLERY*/

.card_gallery {
    margin:auto;
    transition:1s all;
    margin-bottom:4em;
}
 
.card_gallery:hover{
    transform:scale(1.6);
    z-index: 1;
}  
/* INSTAGRAM */

.insta_artiste{
    width:60%;
    margin-bottom: 4em;
}
.instagram{
    background-color: #e6e601;
}

/*FOOTER*/

.gap_logo {display: flex;justify-content: space-evenly
}
.fab, .footer_text {color: lightyellow;transition: .4s ease-in-out;
}
.fab:hover {color: yellow
}

/*GALERIE PHOTO JS*/

.Galerie{
    margin:20px;
    padding:0;
    background:#fff;
}

.container{
    max-width: 760px;
    margin:auto;
    border:#fff solid 3px;
    background:#fff;
}
.main-img img, .imgs img { 
    width: 100%;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5px;
    grid-gap: 5px;
}

/* effet flash*/

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}