.logo {
    width: 4em
}
.bg{
    background-image:url(https://blogrecherche.wp.imt.fr/files/2018/03/ile-de-nantes.jpg);
    background-color:;
    background-repeat:no-repeat;
    background-attachment:fixed;
    width: 100%;
    height: 20em;
}
.texte1{
    margin-top: 5em;
    margin-bottom:5em; 
    float:center;
    text-align:center;
}
.card{
    margin-top: 5em;
}

.active{
    font-weight:700;
}

.card_gallery {
    margin:auto;
    transition:1s all;
    margin-bottom:6em;
}
   
.card_gallery:hover{
    transform:scale(2);
    & + .underlay{   
  }
}  
.julien {
    display: flex;
    justify-content: space-evenly;
}
.fab{
    color:yellow;
}
.footer_text{
    color:lightyellow;
}