
.logo{
    width: 4em;
}

.nono
{
    display: flex;
    justify-content: space-evenly;
    border: none;
}

footer{
    position:relative;
    bottom:0;
    width: 100%;
}

.fab{
    color:yellow;
}

.footer_text{
    color:lightyellow;
}

.julien{
    display:flex;
    justify-content: space-evenly;
}

.card-body{
    border-left:5px solid yellow;
    border-right-width: 50px;
}