body {
    background: url("https://nsa40.casimages.com/img/2019/03/06/19030608063595724.jpg") fixed no-repeat;
}

/***HEADER***/
.logo {
    width: 4em
}

/***SECTION***/
.active {
    font-weight: 700;
    color: yellow !important;
}

.extract_event .navbarsection {
    margin-top: 850px;
}

.extract_event, .extract_artist {
    background-color: #ebebeb;

}

.extract_culture {
    background-color: #e6e601;

}

.extract_event .card-body {
    background-color: #ebebeb;
}

.extract_artist .card-body {
    background-color: #ebebeb;
}

.extract_culture .card-body {
    background-color: #e6e601;
}

.card-img-top {
    transition: transform .2s;
}

.card-img-top:hover {
    transform: scale(1.1);
}

/***FOOTER***/
.julien {
    display: flex;
    justify-content: space-evenly
}

.fab {
    color:yellow;
}

.footer_text {
    color:lightyellow;
}
