body {
    background: url("https://nsa40.casimages.com/img/2019/03/08/190308105115342407.jpg") fixed no-repeat;
}

/***HEADER***/
.logo {
    width: 4em
}

/***SECTION***/
.active {
    font-weight: 700;
    color: yellow !important;
}
.navbar{
    position:fixed;
    width:100%;
}
.extract_event .title-section {
    margin-top: 600px;
}

.extract_event, .extract_artist {
    background-color: #ebebeb;

}

.extract_culture {
    background-color: #e6e601;

}

.extract_event .card-body {
    background-color: #ebebeb;
}

.extract_artist .card-body {
    background-color: #ebebeb;
}

.extract_culture .card-body {
    background-color: #e6e601;
}

.card-img-top {
    transition: transform .2s;
}

.card-img-top:hover {
    transform: scale(1.1);
}

/***FOOTER***/
.gap_logo {
    display: flex;
    justify-content: space-evenly;
}
.fab, .footer_text {
    color: lightyellow;
    transition: .4s ease-in-out;
}
.fab:hover {
    color: yellow
}

/***TOPBUTTON***/
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover 
{
    background-color: #555;
}